<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard - UPay Admin Pages</title>
  <link rel="icon" href="/assets/images/icon.png">
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
  <div class="header"">
    <div class="container">
      <div class="kiri" style="padding-bottom: 5px;">
        <ul>
          <li><img src="/assets/images/logo-white.png" style="width: 110px;"></li>
        </ul>
      </div>
      <div class="tengah" style="padding-bottom: 5px;">
        <center><ul>
          <li><a href="http://localhost:8000/dashboard">Home</a></li>
          <li><a href="http://localhost:8000/service-view">Service</a></li>
          <li><a href="http://localhost:8000/team-view">Team</a></li>
          <li><a href="http://localhost:8000/about-view">About Us</a></li>
          <li><a href="http://localhost:8000/help-view">Help</a></li>
        </ul></center>
      </div>
      <div class="kanan" style="padding-bottom: 5px;">
        <ul>
          <li class="log"><button style="width: 120px; font-size: 14px;">Hello, Admin</button></li>
          <li class="sig"><a href="http://localhost:8000"><button style="width: 90px; font-size: 14px;">Log Out</button></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 50px;"><center>
    <h2>Home Manage</h2><br><br>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>Note</th>
          <th>Offering</th>
          <th style="width: 150px;">Action</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ note }}</td>
          <td>{{ offering }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ id }}" data-note="{{ note }}" data-offering="{{ offering }}"">Edit</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table></center>
  </div><hr style="margin: 140px 0px 30px 0px;">
  <div class="footer">
    <div class="container"><center>
      <div class="top">
        <img src="/assets/images/flag.jpg" style="width: 30px;"><br>
        <ul><b>
          <li>Help</li>
          <li>Contact</li>
          <li>Fees</li>
          <li>Security</li>
          <li>Apps</li>
          <li>Shop</li></b>
        </ul>
      </div>
      <div class="sub">
        <ul><b>
          <li>About</li>
          <li>Newsroom</li>
          <li>Jobs</li>
          <li>Investor Relations</li>
          <li>Social Innovation</li>
          <li>Public Policy</li>
          <li>Sitemap</li>
          <li>Enterprise</li>
          <li>Partners</li></b>
        </ul>
      </div><br><br>
      <p>©2020 All rights reserved. Website HTML by Kelompok 5</p><br>
    </center></div>
  </div>
     <!-- Modal Update Produk-->
   <form action="/update-dashboard" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="note" class="form-control note" placeholder="Note" required>
              </div>
              <div class="form-group">
                  <input type="text" name="offering" class="form-control offering" placeholder="Offering" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>
 
<script src="/assets/js/jquery-3.5.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
            //tampilkan data ke modal untuk edit
      $('#mytable').on('click','.edit',function(){
        var id = $(this).data('id');
        var note = $(this).data('note');
        var offering = $(this).data('offering');
        $('#EditModal').modal('show');
        $('.note').val(note);
        $('.offering').val(offering);
        $('.id').val(id);
      });
            //tampilkan modal hapus record
            $('#mytable').on('click','.delete',function(){
        var id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.id2').val(id);
      });
 
    });
</script>
</body>
</html>